/* reset */
*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    font-family: 'SCDream3';
	scroll-behavior: smooth;
}
*::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-style: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
html {
	font-family: Raleway, sans-serif;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    color: inherit;
}

button {
	cursor: pointer;
	vertical-align: middle;
	font-family: Raleway, sans-serif;
	font-weight: 700;
}

input,
select {
	vertical-align: middle;
	font-family: Raleway, sans-serif;
}

textarea {
	font-family: Raleway, sans-serif;
}

img {
	border: 0;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus,
select:focus {
	border-color: rgba(119, 131, 140, 0.05);
	outline: 2px solid rgba(119, 131, 140, 0.05);
	box-shadow: 0 1px 1px rgba(119, 131, 140, 0.05) inset, 0 0 8px rgba(119, 131, 140, 0.2);
}

input.board_input_control:focus{
	box-shadow: -1px 4px 4px 0 hsl(0deg 0% 92%);
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.096);
}

select:focus {
	outline: 2px solid rgba(119, 131, 140, 0.15);
}

button:focus {
	outline: none;
}
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}
/* fonts */
@font-face {
    font-family: 'SCDream3';
    src: url(../fonts/SCDream3.otf);
}

@font-face {
    font-family: 'SCDream4';
    src: url(../fonts/SCDream4.otf);
}
