body {
    background: #000000;
}
section {
    position: relative;
    height: 100%;
}
/* 고정메뉴바 */
header {
    width: 100%;
    height: 80px;
    z-index: 100;
    transition: all 0.3s ease;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    background-color: transparent;
}
#logo{
    width: 200px;
    height: 90px;
    z-index: 9000;
    background-size: contain;
    background: url(../img/top_logo.png) no-repeat 50% 15%;
    transition: all 0.3s ease;
}
#header.active #logo{
    background-size: contain;
    background: url(../img/top_logo1.png) no-repeat 50% 15%;
}

#header.active{
    color: #000000;
    background-color: whitesmoke;
}


header ul {
    display: flex;
    z-index: 9000;
}

header ul li {
    padding: 10px 23px;
}

header ul li:hover a {
    color: #b8433e;
}

header ul li.on a {
    padding: 5px 8px;
}

header ul li a {
    padding: 5px;
    font-family: 'SCDream5';
    font-size: 1.3rem;
    font-weight: bold;
}


/* sec00 */

section.sec00{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
section.sec00 .main_logo {
    position: absolute;
    background: url(../img/main_logo.png) no-repeat;
    width: 800px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    animation: bungbung infinite 2s;
}
@keyframes bungbung {
    0% {
        top: 50%;
    }

    50% {

        top: 52%;
    }

    100% {
        top: 50%;
    }
}
section.sec00 .main .ct_text{
    color: #b9b7b7;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    background-size: contain;
    font-size: 1.5rem;
    font-family: 'SCDream5';
    line-height: 30px;

}
section.sec01{
    position: relative;
    width: 100%;
    padding-top: 180px;
}
section.sec01>ul>li.cont
{
    display: none;
    color: #fff;
    z-index: 99999;
    border-radius: 2vw;
    width: 75vw;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    margin: 0 auto;
    overflow: hidden;
}
.cards{
    display: grid;
    max-width: 1240px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 auto;
}
.cards div.card {
    border-radius: 25px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.cards div.card.card00:before {
    background: url(../img/cont01.png) no-repeat 50% 50% ;
    background-size: cover;
}
.cards div.card.card01:before {
    background: url(../img/cont02.png) no-repeat 50% 50% ;
    background-size: cover;
}
.cards div.card.card02:before {
    background: url(../img/cont03.png) no-repeat 50% 50% ;
    background-size: cover;
}
.cards div.card.card03:before {
    background: url(../img/cont04.png) no-repeat 50% 50% ;
    background-size: cover;
}
.cards div.card.card04:before {
    background: url(../img/cont05.png) no-repeat 50% 50% ;
    background-size: cover;
}
.cards div.card.card05:before {
    background: url(../img/cont06.png) no-repeat 50% 50% ;
    background-size: cover;
}
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}
.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    opacity: 0.8;
    pointer-events: none;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: transform calc(var(--d) * 2) var(--e);
}
.card .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 65px;
    transition: transform var(--d) var(--e);
    transform: translateY(calc(100% - 0rem));
    z-index: 1;
}
.content>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.card .content .click-btn {
    letter-spacing: 2px;
    margin-top: 15px;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(27, 27, 27);
    border: none;
}
.card .content .click-btn:hover {
    background-color: #2c4a9b;
}
.card:hover,
.card:focus-within {
    align-items: center;
}
.card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
}
.card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.397);
    transition: 0.6s;
}
.card:hover .content,
.card:focus-within .content {
    padding-top: 110px;
    transform: translateY(5%);
}
.card:hover .content>*:not(.title),
.card:focus-within .content>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
}
.card:focus-within:before,
.card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content>*:not(.title) {
    transition-duration: 0s;
}

/* mcont */
.m_cont1{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/mcont1.png) 50% 50%;
    overflow: hidden;
}
.m_cont2{
    width: 100%;
    position: relative;    
    text-align: center;
}
.site{
    width: 100%;
    position: relative;
    text-align: center;
    height: 300px;
}
.site_btn01{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background: rgba(228, 202, 202, 0.3);
    font-size: 1.5rem;
}
.site_btn01:hover{
     background: rgba(236, 116, 116, 0.3);
}

.m_cont3{
    padding: 300px 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.m_cont3>.cont1{
    width: 800px;
    height: 400px;
    background: url(../img/mcont2.png) 50% 50%;
}
.m_cont3>.text1{
    width: 800px;
    height: 400px;
    background: url(../img/mcont1.png) 50% 50%;
}
/* pcont */
.p_cont1{
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 80vh;
    background: url(../img/ux_cont00.png) 50% 50%;
    overflow: hidden;
}
.p_cont2{
    padding-top: 150px;
    width: 100%;
    position: relative;    
    text-align: center;
}
.p_cont3{
    padding: 150px 0;
    width: 100%;
    position: relative;    
    text-align: center;
}
/* jcont */
.j_cont1{
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 80vh;
    background: url(../img/js_cont00.png) 50% 50%;
    overflow: hidden;
}
.j_cont2{
    padding-top: 150px;
    width: 100%;
    position: relative;    
    text-align: center;
}
/* mtcont */
.mt_cont1{
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 80vh;
    background: url(../img/mt_cont00.png) 50% 50%;
    overflow: hidden;
}
.mt_cont2{
    padding-top: 150px;
    width: 100%;
    position: relative;    
    text-align: center;
}
/* cdcont */
.cd_cont1{
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 80vh;
    background: url(../img/cd_img01.png) 50% 50%;
    overflow: hidden;
}
.cd_cont2{
    padding-top: 150px;
    width: 100%;
    position: relative;    
    text-align: center;
}
/* etccont */
.etc_cont1{
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 80vh;
    background: url(../img/et_img00.png) 50% 50%;
    overflow: hidden;
}
.etc_cont2{
    padding-top: 150px;
    width: 100%;
    position: relative;    
    text-align: center;
}
/* abcont */
.ab_cont1{
    margin-top: 100px;
    position: relative;
    width: 100%;
    text-align: center;
}